html, body {
    padding: 0;
    background-color: lightgreen;
    background-image:url(static_files\img\background.jpg);
    color: black;
}

.title {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

a {
    color: black;
}